@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Poppins&family=Silkscreen&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    width: 95%;
    height: 4em;
    margin: 0.5em auto; 
    padding-inline: 1em;
}
header h1{
    font-family: 'Silkscreen', sans-serif;
    font-size: 2.5rem;
    background-image: url(../img/6272395.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

header #title{
    cursor: pointer;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: #009087;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: #ffffff;
  }

  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }

  .Btn:hover {
    width: 165px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 0;
  }

  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }

  .Btn:active {
    transform: translate(2px ,2px);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 93vh;
    margin: 0 auto;
}

.ContactForm {
    background-color: #ffffff96;
    backdrop-filter: blur(20px);
    width: 50vmin;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 920px) {
        width: 80vmin;
    }
}

.ContactForm h2 {
    text-align: center;
    font-size: 2em;
    margin: 1em;
    color: #333;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 8px;
    color: #555;
    font-size: .9em;

}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 7px;
    transition: 0.3s ease all;
    resize: none;
    background-color: #ffffff96;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #009087;
}

.envMen {
    background-color: #009087;
    border: 1px solid transparent;
    color: #fff;
    padding: 12px 20px;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease all;
    font-size: 1em;
}

.envMen:hover {
    background-color: transparent;
    border: 1px solid #009087;
    color: #009087;
}


input[type="file"] {
    margin-top: 8px;
}

.inputfile-1 + label {
    color: #000000;
    border-radius: 10px;
    transition: .3s ease all;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #009087;
    color: rgb(255, 255, 255);
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size: .7em;
	font-weight:normal;
}

.videoPref{
    z-index: -1;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100%;
    bottom: 0;
  }

  #dialogo {
    width: 25em;
    height: 13em;
    border: 0;
    border-radius: 10px;
    text-align: center;
    cursor: default;
    position: absolute;
  }
  #dialogo::backdrop{
    background-color: rgba(0, 0, 0, 0.637);
    backdrop-filter: blur(20px);
  }
  
  #dialogo h2{
    font-size: 40px;
    cursor: default;
    color: rgb(0, 0, 0);
  }
  
  #dialogo p{
    margin-block: 2em;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: default;
  }
  
  header, label{
    animation: appear 1.5s cubic-bezier(0.23, 1, 0.320, 1);
  }

  #nombre{
    animation: appear 1.7s cubic-bezier(0.23, 1, 0.320, 1);
  }

#correo_electronico , #mensaje{
    animation: appear 2s cubic-bezier(0.23, 1, 0.320, 1);
}
  
.ContactForm h2, .envMen {
    animation: appear2 4s cubic-bezier(0.23, 1, 0.320, 1);
}

  @keyframes appear{
    0%{
        transform: translateY(-250px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appear2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}   

@media screen and (max-width: 650px){
  header{
    width: 90%;
  }

  .ContactForm{
      width: 90%;
  }

  .ContactForm h2{
      font-size: 1.8em;
  }
}

@media screen and (max-width: 425px){
  header h1{
    font-size: 2em;
  }

  .Btn{
    width: 40px;
    height: 40px;
  }

  .text{
    font-size: 1em;
  }
}

@media screen and (max-width: 390px){
  .ContactForm{
    width: 85%;
}
.ContactForm h2{
  font-size: 1.5em;
}
}