@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Poppins&family=Silkscreen&display=swap');

*{
    font-family:Poppins, sans-serif;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

body::-webkit-scrollbar {
  width: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 95%;
  height: 7vh;
  margin: 0 auto; 
}
header h1{
    font-family: 'Silkscreen', sans-serif;
    font-size: 2.5rem;
    background-image: url(../img/6272395.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

header #title{
    cursor: pointer;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: #009087;
  }
  
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: #ffffff;
  }

  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: #ffffff;
    font-size: 1.2em;
    transition-duration: .3s;
  }

  .Btn:hover {
    width: 165px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 0;
  }

  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }

  .Btn:active {
    transform: translate(2px ,2px);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 93vh;
    margin: 0 auto;
}

main h2{
    font-size: 2.5rem;
}

.mensForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.mensForm div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.messageBox {
    width: 60vmin;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
    margin-bottom: 3em;
  }
  .messageBox:focus-within {
    border: 1px solid rgb(110, 110, 110);
  }
  #mensaje {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
  }
  #mensaje:focus ~ #sendButton svg path,
  #mensaje:valid ~ #sendButton svg path {
    fill: #3c3c3c;
    stroke: white;
  }
  
  #sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  #sendButton svg {
    height: 18px;
    transition: all 0.3s;
  }
  #sendButton svg path {
    transition: all 0.3s;
  }
  #sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
  }
  
details {
	position: relative;
	width: 250px;
	margin-right: 1rem;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #e5e5e57e;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
    display: block;
    float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms;
    margin-top: 0.2em;
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: #e5e5e57e;
  backdrop-filter: blur(10px);
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
    list-style: none;
}
ul::-webkit-scrollbar {
    width: 2px; 
}

ul::-webkit-scrollbar-thumb {
    background-color: #4caf99; 
    border-radius: 10px; 
}

li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

.allMessages{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 90vmin;
  height: 60vh;
  margin-top: 4em;
  row-gap: 1em;
  overflow-y: auto;
}

.allMessages::-webkit-scrollbar {
  width: 0px; 
}

header, .custom-select, main h2 {
  animation: appear 1.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.messageBox, .notification{
  animation: appear2 1.5s cubic-bezier(0.23, 1, 0.320, 1);

}

@keyframes appear{
  0%{
      transform: translateY(-250px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}


@keyframes appear2{
  0%{
      transform: translateY(250px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}

.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: auto;
  height: auto;
  padding-bottom: 1em;
  background: #29292c;
  border-radius: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #007991, #78ffd6);
  --color: #32a6ff
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: #00e6d7;
  padding: 0.65rem 4rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.notitime {
  z-index: 2;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #99999d;
  font-size: 0.8rem;
}

@media screen and (max-width: 425px){
  header h1{
    font-size: 2em;
  }

  .Btn{
    width: 40px;
    height: 40px;
  }

  .text{
    font-size: 1em;
  }

  main h2{
    font-size: 2rem;
}
  details {
    width: 70%;
    margin-right: 1rem;
  }

  .messageBox{
    width: 90%;
  }

  .notititle, .notibody{
    font-size: .9rem;
  }

  .notitime{
    top: .9rem;
    font-size: .7rem;
  }
}